# Segmenting and Clustering Neighborhoods in Toronto

In [4]:
#Import the required library
import pandas as pd
import numpy as np

In [15]:
#Import the data from the URL https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
html = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data = pd.read_html(html)
df = data[0]

In [68]:
#Columns of the dataframe
df.columns

Index(['Postalcode', 'Borough', 'Neighborhood'], dtype='object')

In [28]:
#Check for NA or Null values

print('Postalcode')
print(df['Postalcode'].isnull().value_counts())
print('Borough')
print(df['Borough'].isnull().value_counts())
print('Neighborhood')
print(df['Neighborhood'].isnull().value_counts())

Postalcode
False    180
Name: Postalcode, dtype: int64
Borough
False    180
Name: Borough, dtype: int64
Neighborhood
False    103
True      77
Name: Neighborhood, dtype: int64

In [78]:
#delete the entries where the Borough is equal to Not assigned 
df2 = df[(df['Borough'] != 'Not assigned')].reset_index()
df2.drop('index',1,inplace = True)

#The dataframe have no NA in Borough column
df2.head(10)

  Postalcode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5        M9A         Etobicoke                              Islington Avenue
6        M1B       Scarborough                               Malvern / Rouge
7        M3B        North York                                     Don Mills
8        M4B         East York              Parkview Hill / Woodbine Gardens
9        M5B  Downtown Toronto                     Garden District / Ryerson

In [79]:
df2['Postalcode'].value_counts().sort_values(ascending = False).head(5)

M3C    1
M6H    1
M4X    1
M1L    1
M4K    1
Name: Postalcode, dtype: int64

In [82]:
#Replace the / value to the comma in the new df2 dataframe 
df2['Neighborhood']= df2['Neighborhood'].str.replace('/',',')
df2.head(13)

,Postalcode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern , Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill , Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District , Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park , Princess Gardens , Martin Gr..."
12,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek"

### Number of row's and Column in dataframe

In [83]:
df2.shape

(103, 3)